<html>
<head>
    <title>IPS 110B3</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/jquery.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="lib/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> 
</head>
<body>
    <div class="container-fluid" style="padding: 0;">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius: 0%">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./"
                        style="font-family:'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';font-style:italic;font-weight: bold;color: #fed136">Indoor
                        Positioning Systems</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">About us <span class="sr-only">(current)</span></a></li>
                        <li><a href="./ips">Product</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./loginPage">Login</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid" style="padding: 0">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <!--  <li data-target="#myCarousel" data-slide-to="1"></li> -->
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="margin-top: 31px;">
                    <div class="item active">
                        <img src="img/slide1.jpg" alt="Los Angeles" style="width:100%;height: 90%;">
                        <div class="carousel-caption" style="background: rgba(0, 0, 0, 0.4); bottom:200px;">
                            <h3>Indoor Positioning Systems</h3>
                            <p>Indoor Positioning Systems!</p>
                        </div>
                    </div>
<!--
                    <div class="item">
                        <img src="img/slide2.jpg" alt="Los Angeles" style="width:100%;height: 90%;">
                        <div class="carousel-caption" style="background: rgba(0, 0, 0, 0.4); bottom:200px;">
                            <h3>Indoor Positioning Systems</h3>
                            <p>Indoor Positioning Systems!</p>
                        </div>

                    </div>
-->
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <br>

            <!--about-->
            <div class="container" style=" margin-top: 150px;">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading text-uppercase">About us</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="img/indoor.jpg" width="50%">
                        </div>
                        <div class="timeline-panel">
                            <p style="padding: 50px;line-height: 1.75">Hệ thống định vị trong nhà(IPS-Indoor Positioning
                                Systems) là giải
                                pháp nhằm xác định vị trí các đối tượng hoặc người trong một khu vực bằng cách sử dụng
                                sóng vô
                                tuyến điện, từ trường, tín hiệu âm thanh,... được thu thập trên thiết bị di động. Dự án
                                tập trung nghiên cứu các hệ thống định vị trong nhà. Chúng tôi sử dụng module mdek1001
                                của
                                hãng decawave để xậy dựng hệ thống. Có thể tìm hiểu <a target="_blink"
                                    href="https://decawave.com">chi
                                    tiết</a> module</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--noi dung-->
            <section>
                <div class="container" style="margin-top:150px;">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading text-uppercase">Products</h2>
                            <h3 class="section-subheading text-muted">Indoor positioning systems.</h3>
                        </div>
                        <div class="col-md-6 text-center">
                            <img id="hinh1" src="img/mdek1001.png">
                            <h1 class="service-heading">Mdek1001 Development Kit</h1>
                            <p>MDEK1001 cung cấp cho người dùng quan tâm đến giải pháp mạng RTLS có thể mở rộng, môi trường phần cứng, phần mềm và phát triển cần thiết để nhanh chóng đánh giá các tính năng và hiệu suất của nó.<a href="https://decawave.com">chi tiết</a></p>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="img/product.png" id="hinh2" width="90%" style="margin:0;">
                            <h1 class="service-heading" >Hệ thống định vị</h1>
                            <p>Xây dựng hệ thống định vị dựa trên mdek1001 development kit. Hệ thống hoạt động dựa và gửi dữ liệu lên server thông qua Raspberry Pi.<a href="./ips">Chi tiết</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!--footer-->
            <footer class="main-footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <span class="copyright">Copyright &copy; Lab 110B3</span>
                    </div>
                    <div class="col-md-4">
                      <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fab fa-twitter" style="margin-top: 12px;"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fab fa-facebook-f" style="margin-top: 12px;"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="fab fa-linkedin-in" style="margin-top: 12px;"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                          <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">Terms of Use</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </footer>
        </div>

        <script>
            $('#hinh1').css("height","200");
            $('#hinh2').css("height",$('#hinh1').css('height'));
        </script>
</body>
</html>