<html>
  <header>
    <title>Test</title>
    <script src="lib/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </header>
  <body>
    <div id="date"></div>
    <h1>location:</h1>
    <div id="a"></div>
    <!--script-->
    <script>
      $(document).ready(() => {
        setInterval(() => {
          $.ajax({
            url: "../product",
            method:"POST",
            contentType: "application/json",
            success: function(response) {
              $('#a').empty();
              $('#a').append("x:"+response.xcale+" y:"+response.ycale);
            }
          });
        }, 100);
      });
    </script>
  </body>
</html>
