<html>

<head>
    <title>IPS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-10" id="map">
                <canvas id="myCanvas" style="border: solid 1px black; background: #eff0f1" width="1000"
                    height="450"></canvas>
            </div>
            <div class="col-md-2">
                <h1>X</h1>
                <h1 id="x">a</h1>
                <br>
                <h1>y</h1>
                <h1 id="y">a</h1>
            </div>
        </div>
    </div>
    <script>
        // var canvas = document.getElementById("myCanvas");
        // var ctx = canvas.getContext("2d");
        // ctx.font ='50px FontAwesome';
        // ctx.fillStyle ="red"
        // ctx.fillText("\uf0d7",200,200);
        // ctx.fillText("\uf0d7",200,100); 

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var y, x;//

        function init() {
            window.requestAnimationFrame(draw);
        }

        function drawBall() {
            ctx.beginPath();
            ctx.font = '50px FontAwesome';
            ctx.fillStyle = "red";
            ctx.fillText("\uf0d7",100,50);
            ctx.fillText("\uf0d7",110,300);
            ctx.fillText("\uf0d7",700,70);
            ctx.fillText("\uf0d7",800,400);
            ctx.fillStyle = "blue";
            ctx.fillText("\uf0d7", x*canvas.width/5, y*canvas.height/5);
            ctx.closePath();
        }

        function draw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            drawBall();
            $.ajax({
                url: "../product",
                method: "POST",
                contentType: "application/json",
                success: function (response) {
                    x = response.tag1_xcale;
                    y = response.tag1_ycale;
                    $('#x').empty();
                    $("#x").append("="+x);
                    $('#y').empty();
                    $("#y").append("="+y);
                }
            });
            window.requestAnimationFrame(draw);
        }
        init();
    </script>
</body>

</html>